In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [20]:
# Load Kaggle data sets
path = Path('../../ts-data')  # Remember to update

train = pd.read_csv(
    path / 'train.csv',
    dtype = {
    'store_nbr': 'category',
    'family': 'category',
    'sales': 'float32',
    'onpromotion': 'uint64'},
    parse_dates=['date'],  # changes date data type to datetime64 [ns]
    infer_datetime_format=True  # Can improve parsing speed up to 5-10x
)

store_sales = train.set_index('date').to_period('D') # Allows datetime index to be segmented by day, week, month, year
store_sales = store_sales.set_index(['store_nbr', 'family'], append=True) # append is needed to maintain the date index
average_sales = store_sales.groupby('date').mean()['sales']

test = pd.read_csv(
    path / 'test.csv',
    dtype={
    'store_nbr': 'category',
    'family': 'category',
    'sales': 'float32',
    'onpromotion': 'uint64'},
    parse_dates=['date'],  
    infer_datetime_format=True  
)

test['date'] = test.date.dt.to_period('D')
test = test.set_index(['store_nbr', 'family', 'date']).sort_index()

stores = pd.read_csv(
    path / 'stores.csv',
    dtype={
        'store_nbr': 'category',
        'city': 'category',
        'state': 'category',
        'type':'category',
        'cluste':'category'}
)

oil = pd.read_csv(
    path / 'oil.csv',
    parse_dates=['date'],
    infer_datetime_format=True
)

oil['date'] = oil.date.dt.to_period('D')
oil = oil.set_index(['date']).sort_index()

holidays_events = pd.read_csv(
    path / 'holidays_events.csv',
    dtype={
        'type': 'category',
        'locale': 'category',
        'locale_name': 'category',
        'description': 'category',
        'transferred': 'bool'},
    parse_dates=['date'],
    infer_datetime_format=True
)

holidays_events['date'] = holidays_events.date.dt.to_period('D')
holidays_events = holidays_events.set_index(['date']).sort_index()

transactions = pd.read_csv(
    path / 'transactions.csv',
    parse_dates=['date'],
    infer_datetime_format=True
)

transactions['date'] = transactions.date.dt.to_period('D')
transactions = transactions.set_index(['date']).sort_index()

sample = pd.read_csv(path / 'sample_submission.csv')

            store_nbr  transactions
date
2013-01-01         25           770
2013-01-02          1          2111
2013-01-02          2          2358
2013-01-02          3          3487
2013-01-02          4          1922
...               ...           ...
2017-08-15         50          2804
2017-08-15         51          1573
2017-08-15         52          2255
2017-08-15         53           932
2017-08-15         54           802

[83488 rows x 2 columns]